* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5em;
}
#navbar {
  display: none;
}

#navbar #main ul li {
  display: inline;
  list-style-type: none;
  padding-right: 1.25em;
}

#navbar #annex ul li {
  display: inline;
  list-style-type: none;
  font-style: italic;
  font-size: smaller;
  padding-right: 1.25em;
}

#main ul, #annex ul {
  padding-right: 0;
  display: inline;
}

#main {
  float: left;
}
#annex {
  float: right;
  padding-right: 2%;

}

#name {
  background-color: #563440;
  font-family: serif;
  color: #D7DEDC;
  padding: 1.25em 0 1.25em 2.25em;
  width: 100%;
}

#navbar {
  background-color: #7A3B69;
  padding: 1.25em 0 ;
  font-family: sans-serif;
  color: white;
  width: 100%;
  
}

#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 100%;
  max-width: 1200px;
}

#hero {
  width: 100%;
}

#hero img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

#news, #at-uc--events--athletics {
  display: flex;
  flex-wrap: wrap;
}

#news {
  margin: auto;
}

#news h2 {
  border-bottom-style: solid;
  border-bottom-color: #CFCFCD;
  border-bottom-width: 1px;
}

#news .article {
  display: inline-block;
  max-width: 24%;
  vertical-align: top;
}

#news .article img {
  max-width: 100%;
}

.article ul {
  padding-left: 0;
  margin-left: 0;
}

.article p {
  width: 95%;
}

#news {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 0px;
}

.article h4 {
  margin-top: 0;
}
.article ul li {
  padding-bottom: 1.5em;
  list-style-type: none;
}

h2, h3, h4, p, a, li {
  font-family: sans-serif;
}

#at-uc--events--athletics {
  margin: auto;
}

.feature img {
  max-width: 100%;
}

.feature h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CFCFCD;
}

.article, .feature {
  box-sizing: border-box;
  padding: 10px;
}

.feature {
  width: 33%;
}

.feature li {
  list-style: none;
  padding: 0px, 0px, 1.05em, 0px;
}

.feature ul {
  padding-left: 0;
}

.feature ul li {
  padding: 0.45em 0 0.45em 0;
  height: auto;
}

.feature ul li .date_div h3, .feature ul li .date_div h4 {
  display: block;
}
.feature ul li .date_div, .feature ul li .date_title {
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

.feature ul li .date_title h3 {
  line-height: 1.17em;
}

.feature ul li .date_div {
  width: 13%;
}

.feature ul li .date_title {
  width: 75%;
}

.feature ul li .date_title p {
  font-size: 1.13em;
}

.feature ul li h4 {
  padding: 0px;
  margin: 0px;
}

.feature ul li h3 {
  color: #563440;
  font-size: 1.45em;
  padding: 0px;
  margin: 0 0 .44em 0;
}

#footer {
  padding: 1em ;
  background-color: #7A3B69;
  color:  white;
}

#footer li {
  list-style-type: none;
}

#footer p {
  font-size: smallest;  
}

#footer_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#footer_banner {
  background-color: #563440;
  font-family: serif;
  color: #D7DEDC;
  width: 100%;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer_col {
  width: 23%;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 1%;
  margin-left: 0px;
  vertical-align: top;
  display: inline-block;
  line-height: 2em;
}

#footer_banner {
  padding: 1em;
  overflow: auto;
}

.footer_banner_menu {
  list-style: none;
}

.footer_banner_container {
  background-color:#D6D6D6;
}

#footer_banner_container {
  display: flex;
  flex-wrap: wrap;
}

.special_buttons li {
  text-align: center;
  padding: 1.5em .5em;
  margin: 1em .45em;
  color: #848484;
  background-color: #F0F0F0 ;
  height: 1em;
  line-height: 10%;
  border-radius: 0.40em;
}

/*Start Media Queries*/
@media (max-width: 1000px) {
  
  .footer_col {
    width: 30%;
    line-height: 1.75em;
  }
  .footer_col:last-child {
    display: block;
    width: 100%;
    text-align: center;
  }

  .special_buttons li {
    padding: 1.5em .5em;
    margin: 0px .45em;
    color: #848484;
    background-color: #F0F0F0 ;
    height: 1em;
    line-height: 10%;
    border-radius: 0.40em;
  }

  .special_buttons li + .special_buttons li {
    margin-right: .5em;
    
  }

  .special_buttons ul {
    padding-left: 0;
  }

  #container, #footer_container {
    margin-left: auto;
    margin-right: auto;
  }


}

@media (max-width: 1000px) {

  .special_buttons li {
    width: 20%;
    padding: 1em 0.5em;
    line-height: auto;
    display: inline;
  }


}

@media (max-width: 830px){
  .id3 li {
    display: block;
  }

  .id3 ul{
    margin-top: 0px;
  }

  .footer_col {
    width: 210px;
  }
}

@media (min-width: 1048px){
  #navbar {
    display: inline-block;
  }
}


@media (max-width: 720px) {

  #news {
    display: flex;
    flex-wrap: wrap;
  }

  #news .article {
    max-width: 30%;
  }
  
  #news .article:last-child{
    width: 100%;
    max-width: 100%;
  }

  #at-uc--events--athletics {
    width: 100%;
  }

  .feature {
      padding: 1.25em;
    }

  .feature:first-child {
    width: 100%;
  }

  .feature:first-child img {
    width: 100%;
  }

  .feature {
    width: 50%;
  }

  .footer_col:nth-child(3){
    display: inline;
  }

  .footer_col:last-child {
    width: 100%;
  }

  #footer .footer_col h3 {
    font-size: 1.115em;
    text-transform: uppercase;
    border: 1px;
    border-color: white; 
    border-bottom-style: solid;
    width: 85%;
  }

  .footer_col ul {
    padding-left: 0px;
    margin-left: 0px;
  }
  
  .footer_col ul li {
    padding-bottom: 0.8em;
  }

  .special_buttons {
    display: inline;
  }

  .special_buttons li {
    display: block;
    background-color: #F0F0F0 ;
    height: 2.5em;
    width: 100%;
    line-height: 20%;
    border-radius: 0.40em;
    padding: 1.5em;
    margin: 0em;
    color: #848484;
  }

  .special_buttons ul, .special_buttons li {    
    list-style-position: none;
    padding: 1em 0.75em;
    margin: 1em 0em;
  }
  #footer_banner, #footer {
    width: 100%;
  }

  .footer_col {
    width: 45%;
  }
}

@media (max-width: 620px){
  .footer_banner_menu {
    list-style: none;
  }

  .footer_col {
    width: 45%;
    display: inline;
    margin-right: 18px;
  }

  #news .article {
    width: 100%;
    max-width: 45%;
    display: inline-block;
  }

  #news .article:last-child {
    max-width: 45%;
    width: 45%;
    display: inline-block;
  }

  .id1, .id2 {
    margin-top: 1em;
  }
  
  .id1 {
    width: 45%;
  }

  .id1 img {
    max-width: 275px;
  }

  .id2 {
  }

  .id2 ul {
   margin-top: 0em;
  }
}

@media (min-width: 100px){ /* next threshold: 500px*/
  body {
    max-width: 500px;
  }
  #hero img {
    width: 500px;
    max-width: 500px;
  }

  #news .article {
    width: 100%;
    max-width: 475px;
    display: block;
  }

  #news .article img {
    width: 100%;
    max-width: 300px;
  }

  #at-uc--events--athletics .feature {
    width: 100%;
    max-width: 475px;
    display: block;
  }

}
