* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5em;
}
#navbar {
  display: none;
}

#navbar #main ul li {
  display: inline;
  list-style-type: none;
  padding-right: 1.25em;
}

#navbar #annex ul li {
  display: inline;
  list-style-type: none;
  font-style: italic;
  font-size: smaller;
  padding-right: 1.25em;
}

#main ul, #annex ul {
  padding-right: 0;
  display: inline;
}

#main {
  float: left;
}
#annex {
  float: right;
  padding-right: 2%;

}

#name {
  background-color: #563440;
  font-family: serif;
  color: #D7DEDC;
  padding: 1.25em 0 1.25em 2.25em;
  width: 100%;
}

#navbar {
  background-color: #7A3B69;
  padding: 1.25em 0 ;
  font-family: sans-serif;
  color: white;
  width: 100%;
  
}

#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 100%;
  max-width: 1200px;
}

#hero {
  width: 100%;
}

#hero img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

#news, #at-uc--events--athletics {
  display: flex;
  flex-wrap: wrap;
}

#news {
  margin: auto;
}

#news h2 {
  border-bottom-style: solid;
  border-bottom-color: #CFCFCD;
  border-bottom-width: 1px;
}

#news .article {
  display: inline-block;
  max-width: 24%;
  vertical-align: top;
}

#news .article img {
  max-width: 100%;
}

.article ul {
  padding-left: 0;
  margin-left: 0;
}

.article p {
  width: 95%;
}

#news {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding: 0px;
}

.article h4 {
  margin-top: 0;
}
.article ul li {
  padding-bottom: 1.5em;
  list-style-type: none;
}

h2, h3, h4, p, a, li {
  font-family: sans-serif;
}

#at-uc--events--athletics {
  margin: auto;
}

.feature img {
  max-width: 100%;
}

.feature h2 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CFCFCD;
}

.article, .feature {
  box-sizing: border-box;
  padding: 10px;
}

.feature {
  width: 33%;
}

.feature li {
  list-style: none;
  padding: 0px, 0px, 1.05em, 0px;
}

.feature ul {
  padding-left: 0;
}

.feature ul li {
  padding: 0.45em 0 0.45em 0;
  height: auto;
}

.feature ul li .date_div h3, .feature ul li .date_div h4 {
  display: block;
}
.feature ul li .date_div, .feature ul li .date_title {
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

.feature ul li .date_title h3 {
  line-height: 1.17em;
}

.feature ul li .date_div {
  width: 13%;
}

.feature ul li .date_title {
  width: 75%;
}

.feature ul li .date_title p {
  font-size: 1.13em;
}

.feature ul li h4 {
  padding: 0px;
  margin: 0px;
}

.feature ul li h3 {
  color: #563440;
  font-size: 1.45em;
  padding: 0px;
  margin: 0 0 .44em 0;
}

#footer {
  color:  white;
}

#footer li {
  list-style-type: none;
}

#footer p {
  font-size: smallest;  
}

#footer_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #7A3B69;
  padding: 1em;
}

#footer_banner {
  background-color: #563440;
  font-family: serif;
  color: #D7DEDC;
  width: 100%;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer_col {
  width: 23%;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 1%;
  margin-left: 0px;
  vertical-align: top;
  display: inline-block;
  line-height: 2em;
}

#footer_banner {
  padding: 1em;
  overflow: auto;
}

.footer_banner_menu {
  list-style: none;
}

.footer_banner_container {
  background-color:#D6D6D6;
}

#footer_banner_container {
  display: flex;
  flex-wrap: wrap;
}

.special_buttons li {
  text-align: center;
  padding: 1.5em .5em;
  margin: 1em .45em;
  color: #848484;
  background-color: #F0F0F0 ;
  height: 1em;
  line-height: 10%;
  border-radius: 0.40em;
}
